In [3]:
import pandas as pd
clean_weekly_sales = pd.read_csv(r'C:\Users\Kamil\Desktop\data_mart_pd\clean_weekly_sales.csv')
clean_weekly_sales.head()

,week_date,week_number,month_number,calendar_year,region,platform,segment,age_band,demographic,customer_type,transactions,sales,avg_transaction
0,2020-08-31,36.0,8.0,2020.0,ASIA,Retail,C3,Retirees,Couples,New,120631,3656163,30
1,2020-08-31,36.0,8.0,2020.0,ASIA,Retail,F1,Young Adults,Families,New,31574,996575,31
2,2020-08-31,36.0,8.0,2020.0,USA,Retail,unknown,unknown,unknown,Guest,529151,16509610,31
3,2020-08-31,36.0,8.0,2020.0,EUROPE,Retail,C1,Young Adults,Couples,New,4517,141942,31
4,2020-08-31,36.0,8.0,2020.0,AFRICA,Retail,C2,Middle Aged,Couples,New,58046,1758388,30

In [4]:
sales_by_platform = clean_weekly_sales.groupby(['week_number', 'platform'])['sales'].sum()
sales_by_platform = sales_by_platform.reset_index()
print(sales_by_platform)

    week_number platform       sales
0          13.0   Retail  1716628949
1          13.0  Shopify    39641063
2          14.0   Retail  1692063924
3          14.0  Shopify    42782808
4          15.0   Retail  1680707877
5          15.0  Shopify    38997065
6          16.0   Retail  1642332068
7          16.0  Shopify    39336219
8          17.0   Retail  1638581405
9          17.0  Shopify    44075380
10         18.0   Retail  1664466428
11         18.0  Shopify    43860083
12         19.0   Retail  1671205366
13         19.0  Shopify    44964107
14         20.0   Retail  1640018051
15         20.0  Shopify    45552106
16         21.0   Retail  1623313999
17         21.0  Shopify    45169633
18         22.0   Retail  1651300807
19         22.0  Shopify    46739056
20         23.0   Retail  1628386557
21         23.0  Shopify    43256946
22         24.0   Retail  1637034841
23         24.0  Shopify    45807123
24         25.0   Retail  1607597364
25         25.0  Shopify    45885535
26         26.0   Retail  1619490385
27         26.0  Shopify    44865012
28         27.0   Retail  1624167213
29         27.0  Shopify    43003431
30         28.0   Retail  1670164589
31         28.0  Shopify    45389944
32         29.0   Retail  1650694847
33         29.0  Shopify    47590380
34         30.0   Retail  1658947196
35         30.0  Shopify    48389081
36         31.0   Retail  1641557716
37         31.0  Shopify    47817011
38         32.0   Retail  1642223219
39         32.0  Shopify    48332601
40         33.0   Retail  1648829786
41         33.0  Shopify    48479720
42         34.0   Retail  1652352694
43         34.0  Shopify    49060483
44         35.0   Retail  1677540179
45         35.0  Shopify    49153437
46         36.0   Retail  1675010977
47         36.0  Shopify    50869566

In [5]:
sbp = sales_by_platform.pivot_table(index='week_number', columns='platform', values='sales')
sbp

platform           Retail     Shopify
week_number
13.0         1.716629e+09  39641063.0
14.0         1.692064e+09  42782808.0
15.0         1.680708e+09  38997065.0
16.0         1.642332e+09  39336219.0
17.0         1.638581e+09  44075380.0
18.0         1.664466e+09  43860083.0
19.0         1.671205e+09  44964107.0
20.0         1.640018e+09  45552106.0
21.0         1.623314e+09  45169633.0
22.0         1.651301e+09  46739056.0
23.0         1.628387e+09  43256946.0
24.0         1.637035e+09  45807123.0
25.0         1.607597e+09  45885535.0
26.0         1.619490e+09  44865012.0
27.0         1.624167e+09  43003431.0
28.0         1.670165e+09  45389944.0
29.0         1.650695e+09  47590380.0
30.0         1.658947e+09  48389081.0
31.0         1.641558e+09  47817011.0
32.0         1.642223e+09  48332601.0
33.0         1.648830e+09  48479720.0
34.0         1.652353e+09  49060483.0
35.0         1.677540e+09  49153437.0
36.0         1.675011e+09  50869566.0